<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container titulo" align="center">
        <div class="jumbotron ">
          <h1> <strong> ¡Welcome to my Sequence Game! </strong></h1> <br>
          <h4>Enumera las imagenes en el orden correcto. Por cada error se restara <strong> 100 puntos </strong>al final</h4>
          <hr>
          <h5>El resultado se mostrara tras haber terminado los 10 ejercicios</h5>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- *ngFor="let item of list" -->
<div class="container margen tituloCards">
  <div class="row" >
    <div class="col-2"></div>
    <div class="col-2 ">
      <label>
        <input type="checkbox" />
        <div class="card F01_01" (click)="clickCard(1)">
          <div class="front">{{userOrder[0]}}</div>
          <div class="back"></div>
        </div>
      </label>
    </div>
    <div class="col-2">
      <label>
        <input type="checkbox" />
        <div class="card F01_02" (click)="clickCard(2)">
          <div class="front">{{userOrder[1]}}</div>
          <div class="back"></div>
        </div>
      </label>
    </div>
    <div class="col-2">
      <label>
        <input type="checkbox" />
        <div class="card F01_03" (click)="clickCard(3)">
          <div class="front">{{userOrder[2]}}</div>
          <div class="back"></div>
        </div>
      </label>
    </div>

    <div class="col-2">
      <label>
        <input type="checkbox" />
        <div class="card F01_04" (click)="clickCard(4)">
          <div class="front">{{userOrder[3]}}</div>
          <div class="back"></div>
        </div>
      </label>
    </div>

    <div class="col-2" >
      <button type="button" [disabled]="bloquearBotones"  class="btn btn-info btn-block" (click)="resetCards()"> <i class="fas fa-recycle"></i>
        RESET</button>
      <button type="button" [disabled]="bloquearBotones" class="btn btn-success btn-block" (click)="checkScore()"> <i class="fas fa-save"></i>
        GUARDAR</button>
    </div>
  </div>
  <!-- END GAME 1 -->

  <br>
  <!-- GAME 2 -->
  <app-game02></app-game02>
  <br>
  <!-- GAME 3 -->
  <app-game03></app-game03>
  <br>
  <!-- GAME 4 -->
  <app-game04></app-game04>
  <br>
  <!-- GAME 5 -->
  <app-game05></app-game05>
  <br>
  <!-- GAME 6 -->
  <app-game06></app-game06>
  <br>
  <!-- GAME 7 -->
  <app-game07></app-game07>
  <br>
  <!-- GAME 8 -->
  <app-game08></app-game08>
  <br>
  <!-- GAME 9 -->
  <app-game09></app-game09>
  <br>
  <!-- GAME 10 -->
  <app-game10></app-game10>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <button  type="button" class="btn btn-primary btn-lg btn-block" (click)="checkResults()">¡Ver resultados!</button>
    </div>
    <div class="col-3"></div>
  </div>
  <br>
  <div class="container" align="center" *ngIf="mostrarResultado">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <h2>Tu puntuación es:</h2>
        <h3> {{puntuacion}} </h3>
      </div>
      <div class="col-3"></div>
    </div>
  </div>


</div>




<br>